# ---- Maven
target/
dependency-reduced-pom.xml

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# ---- VC Code
.vscode

# ---- Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

.java-version

# User-specific files + Visual Studio files
*.suo
*.user
*.sln.docstates
*.psess
*.vsp
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Bb]in/
[Oo]bj/

# Sonar
.sonar/
.sonarqube/
.scannerwork/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Claude Code temporary files
.claude/

# Extracted CrySL rules
/sonar-crypto-plugin/src/main/resources/crysl_rules/*
!/sonar-crypto-plugin/src/main/resources/crysl_rules/.gitkeep
