# ---- Maven
target/
dependency-reduced-pom.xml

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# ---- VS Code
.vscode
.metals/
.bloop/
project/**/metals.sbt

# ---- Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

.java-version

# User-specific files + Visual Studio files
*.suo
*.user
*.sln.docstates
*.psess
*.vsp
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Bb]in/
[Oo]bj/

# Sonar
.sonar/
.sonarqube/
.scannerwork/
e2e/src/test/resources/SonarPrivatePlugins/*.jar

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Claude Code temporary files
.claude/
claude-*.txt
.claude-plan.md
.mcp.json
.sonar-code-context

# Extracted CrySL rules
/utils/cognicrypt/src/main/resources/crysl_rules/*
!/utils/cognicrypt/src/main/resources/crysl_rules/.gitkeep
