name: Build & Test

on:
  workflow_call:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build & Unit Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build
        run: mvn clean package -DskipTests --batch-mode
      - name: Unit Tests
        run: mvn test -pl '!e2e' --batch-mode

  e2e-test:
    name: E2E Tests
    runs-on: ubuntu-latest
    env:
      ARTIFACTORY_URL: https://repo1.maven.org/maven2
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Plugin
        run: mvn install -pl '!e2e' -DskipTests --batch-mode
      - name: E2E Tests
        run: mvn test -pl e2e --batch-mode
